/* body {
    font-family: sans-serif;
    margin: 20px;
} */

#formula-panel {
    /* display: none; */
}
#controls-panel {
    margin-bottom: 20px;
    width: 100%;
}


.controls-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.variance-label {
    font-size: 1.5em
}

.controls-flex-item {
    flex: 1 1 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
    box-sizing: border-box;
}

.parameter-controls h3, .visualization-options h3 {
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

#data-graph,


#variance-bar,
#formula-panel {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 5px;
    display: inline-block;
    width: 7em;
}

input[type="range"] {
    vertical-align: middle;
    width: 150px;
    margin-right: 10px;
}


/* #variability-form div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
} */

#variability-form input[type="radio"] {
    margin-right: 0.5em;
    width: 1em;
    cursor: pointer;
}

#variability-form label {
    width: auto;
    cursor: pointer;
}

/* .toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
} */

button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color: #e0e0e0;
}

.reset-button {
    margin-top: 10px;
    display: inline-block;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .controls-flex-container {
        flex-direction: column;
    }
    
    .controls-flex-item {
        margin-bottom: 15px;
    }
    
    label {
        width: 120px;
    }
}


