/* css styles */
:root {
    --sample-panel-background: #d3d8a8;
}

.form-select {
    display: unset;
    width: auto;
}

#title-svg {
    width: 50%;
}

body {
    text-align: justify;
}

h2 {
    padding-bottom: 0;
}

#about {
    max-width: 600px;
    margin: 3em auto;
}

/* for the About page */
.about-banner-image {
    text-align: center;
}

.author-image {
    max-width: 200px;
    width: 100%;
}

.navbar-brand-container {
    margin-left: -10px;
}

#logo-svg {
    width: 200px;
    height: 40px;
}

.logo-path {
    fill: #c3ddff;
    stroke: black;
}

.logo-text {
    fill: #545555;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: lowercase;
}
#logo-svg:hover text {
    fill: #75AADB;
}

.quarto-title-banner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



.quarto-title.column-body {
    position: relative;
}

.description {
    padding-right: 5em;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .quarto-title.column-body {
        position: relative;
    }
    #title-svg {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 3em;
    }
    .description {
        display: block;
        left: 0;
        top: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 505px) {
    #title-svg {
        margin: 0;
        width: 100%;

    }
    .description {
        position: static;
    }
}